.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.row {
  max-width: 900px;
  margin: 0 auto;
}

.row h1,h2,h3 {
  margin-top: 3rem;
}
